/** @format */

.cv-detail-plans-link {
	box-shadow: 0px 7px 14px 0px rgba(151, 160, 204, 0.12);
	background-color: #fff;
	border-radius: 0 0 12px 12px;
	margin-bottom: 20px;
}

.cv-detail-plans-link-content {
	padding: 20px 30px;
}

.cv-detail-plans-link-title {
	margin-top: 10px;
	color: #2c2d2f;
	font-size: 17px;
	font-weight: 400;
}

.cv-detail-plans-link-title-link {
	color: #2c2d2f;
}
