/** @format */

.cv-header-search-menu {
	width: 200px;
	margin-left: 20px;
	border-radius: 0 0 8px 8px !important;
}

.cv-header-search-submenu-content {
	padding: 10px 15px;
	height: 300px;
	position: relative;
	overflow-y: scroll;
}

.cv-header-search-submenu-content li {
	padding: 5px 0;
}

.cv-header-search-submenu-title {
	text-transform: capitalize;
}

.cv-header-search-content {
	margin-top: 4px;
}

.cv-header-search-input {
	box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
	border: none;
	width: 95%;
	height: 43px;
	margin-top: -3px;
	border-radius: 25px !important;
}

.cv-header-search-input .ant-input-suffix {
	width: 56px;
	font-size: 20px;
}

.cv-header-search-input .ant-input-search-icon::before {
	border-left: 1px solid #fff !important;
}

.cv-header-search-input > .ant-input-suffix > .ant-input-search-icon {
	color: #f61073;
}

@media (max-width: 768px) {
	.cv-header-search-input {
		width: 85%;
	}
	.cv-header-search-input .ant-input-suffix {
		width: 50px;
		font-size: 16px;
	}
	.cv-header-search-menu {
		width: 150px;
		margin-left: 10px;
	}
}

@media (max-width: 401px) {
	.cv-header-search-input {
		width: 85%;
	}
}
