/** @format */

.cv-profile-activation-content {
	border: #fff;
	box-shadow: 0px 7px 14px 0px rgb(151 160 204 / 12%);
	background-color: #fff;
	border-radius: 12px;
	transition: all 0.3s ease;
	margin: 25px 15px 15px 15px;
	padding: 15px 30px;
}

.cv-profile-activation-result {
}

.cv-profile-activation-title-code {
	color: #545454;
	font-size: 25px;
}

.cv-profile-activation-img-logo {
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 10px;
	border-radius: 4px;
	box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
}

@media (max-width: 768px) {
	.cv-profile-activation-title-code {
		font-size: 18px;
	}
	.cv-profile-activation-result {
		padding: 36px 0px;
	}
}
