/** @format */

.cv-header-user-sidebar-content .ant-drawer-body {
	padding: 10px;
}

.cv-header-user-sidebar-content-row {
	margin-bottom: 10px;
}

.cv-header-user-sidebar-content-img-user {
	padding: 10px;
	border-radius: 50%;
}

.cv-header-user-sidebar-title {
	margin-bottom: 0px;
	margin-top: 10px;
	margin-left: 10px;
	text-transform: capitalize;
}

.cv-header-user-sidebar-sub-title {
	font-size: 12px;
	color: #929292;
	margin-left: 10px;
}

.cv-header-user-sidebar-hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0 0 0 / 11%), rgba(0, 0, 0, 0));
	width: 95%;
}

.cv-header-user-sidebar-list {
	padding: 10px 15px;
}

.cv-header-user-sidebar-list-cs {
	position: absolute;
	bottom: 10px;
	width: 100%;
}
