/** @format */

.cv-profile-accounts-pending-titlle {
	color: #bfbfbf;
	font-size: 14px;
	padding-left: 32px;
	margin-bottom: 34px;
}

.cv-profile-accounts-social-media-content {
	padding: 0px 10px;
}

.cv-profile-accounts-social-media {
	position: absolute;
	left: 280px;
	top: 0px;
	z-index: 1;
}

.cv-profile-accounts-button-active-position {
	position: absolute;
	left: -40px;
	top: 30px;
	z-index: 1;
}

.cv-profile-accounts-button-active-style {
	background-color: #f61073;
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 12px;
	height: 27px;
	line-height: 27px !important;
}

.cv-profile-accounts-button-active-style:hover {
	background-color: white;
	border: 1px solid #f61073;
	border-radius: 6px;
	color: #f61073;
	font-size: 12px;
	height: 27px;
	line-height: 27px !important;
}

.cv-profile-accounts-card-content {
	margin: 10px;
	border: #fff;
	box-shadow: 0px 7px 14px 0px rgba(151, 160, 204, 0.12);
	background-color: #fff;
	border-radius: 12px;
	transition: all 0.3s ease;
	overflow: hidden;
	position: relative;
	width: 400px;
}

.cv-profile-accounts-information-content {
	padding: 16px;
}

.cv-profile-accounts-image {
	border-radius: 50%;
	width: 82px;
	max-width: 100%;
	border: 1px solid #d9d9d9;
}

.cv-profile-accounts-button-delete {
	background: #fff1f0;
	width: 30px;
	height: 30px;
	border: none;
	padding: 0px;
}

.cv-profile-account-icon-size {
	height: 12px;
}

.cv-profile-accounts-button-delete:hover {
	background: #f8beba;
	width: 24px;
	width: 30px;
	height: 30px;
}

.cv-profile-accounts-button-delete:focus {
	background: #f8beba;
	width: 24px;
	width: 30px;
	height: 30px;
}

.cv-profile-account-data {
	color: #bfbfbf;
	font-size: 12px;
	font-weight: 500;
	padding-top: 3px;
}

.cv-profile-accounts-biography {
	color: #bfbfbf;
	font-weight: 200;
	margin-top: 24px;
	font-size: 12px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.cv-profile-accounts-button-edit-information {
	border-radius: 0px 0px 0px 12px;
	border-color: #f0f0f0;
	height: 40px;
	text-align: center;
	padding: 0;
	line-height: 39px !important;
	font-size: 12px;
}

.cv-profile-accounts-button-edit-links {
	border-radius: 0px 0px 12px 0px;
	border-color: #f0f0f0;
	height: 40px;
	text-align: center;
	padding: 0;
	line-height: 39px !important;
	font-size: 12px;
}

.cv-profile-account-phone-type-account-content {
	margin-bottom: 20px;
}

.cv-profile-account-title-phone-type-account {
	margin: 20px 0;
	color: #7e7e7e;
	font-size: 14px;
}

.cv-profile-account-img-phone-type-account {
	width: 250px;
	max-width: 100%;
}

@media only screen and (max-width: 600px) {
	.cv-profile-accounts-button-active-position {
		position: absolute;
		left: 0px;
		top: 90px;
		z-index: 1;
	}
}
