/** @format */
p {
	color: #000000;
}
.cv-profile-header {
	background-color: transparent;
	display: flex;
	align-items: center;
}

.cv-profile-header-title {
	font-size: 25px;
	margin-top: 40px;
	color: #797979;
	font-weight: 500;
	width: 100%;
}

.cv-profile-card-item {
	padding: 15px 50px;
	margin: 15px;
	border: #fff;
	box-shadow: 0px 7px 14px 0px rgb(151 160 204 / 12%);
	background-color: #fff;
	border-radius: 8px;
	position: relative;
	text-align: center;
}

.cv-profile-card-item-tre {
	padding: 15px;
	margin: 15px;
	border: #fff;
	box-shadow: 0px 7px 14px 0px rgb(151 160 204 / 12%);
	background-color: #fff;
	border-radius: 8px;
	display: flex;
	cursor: pointer;
}

.cv-profile-card-item:hover,
.cv-profile-card-item-tre:hover {
	box-shadow: 0px 7px 14px 0px rgb(158 162 181 / 40%);
}

.cv-profile-number {
	position: absolute;
	top: 8px;
	left: -16px;
	font-size: 16px;
	font-weight: 500;
	background: #f61073;
	color: #fff;
	padding: 5px 12px;
	border-radius: 50px;
}

.cv-profile-card-item-img {
	padding: 5px;
}

.cv-profile-card-item-img-icon {
	font-size: 50px;
	color: #f61073;
	margin-top: 10px;
	margin-bottom: 20px;
}

.cv-profile-card-item-img-icon-tre {
	font-size: 35px;
	color: #f61073;
	margin-top: 10px;
	margin-bottom: 20px;
}

.cv-profile-card-item-title {
	padding: 0 10px;
}

.cv-profile-card-item-title > h3 {
	font-weight: 500;
	margin-bottom: 5px;
}

.cv-profile-card-item-title > p {
	margin-bottom: 6px;
	font-size: 13px;
}

.cv-profile-card-btn {
	background: #f9f9f9;
	padding: 10px 10px;
	border-radius: 6px;
	border: 1px solid #ececec;
	font-weight: 500;
	cursor: pointer;
	color: #6d6d6d;
}

.cv-profile-card-btn:hover {
	border: 1px solid #ddd;
}

.cv-profile-card-btn-i {
	font-size: 20px;
	float: left;
	color: #f61073;
}

.cv-profile-hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #e8e8e8;
	margin: 25px auto;
	padding-bottom: 10px;
}

.cv-profile-card-item-link {
	padding: 15px;
	margin: 10px;
	margin-top: 0px;
	border: #fff;
	box-shadow: 0px 7px 14px 0px rgb(151 160 204 / 12%);
	background-color: #fff;
	border-radius: 8px;
}

/******/

.cv-perfil-title-main-container {
	background-color: transparent;
	display: flex;
	align-items: center;
}

.cv-perfil-title-main-icon {
	margin-right: 10px;
	font-size: 20px;
}

.cv-perfil-title-main-title {
	margin-bottom: 0;
	font-size: 15px;
}

.cv-profile-card-account-content {
	padding: 10px;
	margin: 10px;
	border: #fff;
	box-shadow: 0px 7px 14px 0px rgba(151, 160, 204, 0.12);
	background-color: #fff;
	border-radius: 12px;
	transition: all 0.3s ease;
	overflow: hidden;
	position: relative;
}

.cv-profile-account-detail-acount {
	padding: 20px 30px;
}

.cv-profile-account-detail-title {
	text-transform: uppercase;
	font-weight: 500;
	color: #5d5d5d;
}

.cv-profile-main-container {
	margin: 10px auto;
	margin-bottom: 20px;
	box-shadow: 0px 7px 14px 0px rgba(151, 160, 204, 0.12);
	background-color: #fff;
	border-radius: 12px;
	transition: all 0.3s ease;
	margin: 0 auto;
}

.cv-profile-container {
	background-color: #ffffff;
}

.cv-profile-main-info-container {
	height: 100%;
}

.cv-profile-main-info-inner-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cv-profile-main-info-inner-container-img {
	border-radius: 15px;
	padding: 10px;
	width: 100%;
}

.cv-profile-avatar {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px !important;
}

.cv-profile-main-info-inner-container-2 {
	padding-left: 30px;
	margin-top: 2%;
}

.cv-profile-main-title-user {
	font-weight: 600;
	font-size: 25px;
}

.cv-profile-main-role-user {
	color: #72849a;
	font-weight: 600;
	margin-bottom: 20px;
	display: block;
}

.cv-profile-role-tag {
	border-radius: 50px;
	padding: 0 10px 2px 10px;
}

.cv-profile-role-title {
	color: #72849a;
	font-style: italic;
	font-size: 12px;
}

.cv-profile-role-description {
	color: #2c73b3;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 11px;
}

.cv-perfil-description-container {
	height: 100%;
	margin: 10px;
	margin-right: 20px;
}

.cv-profile-content-accoun {
	box-shadow: 0px 7px 14px 0px rgba(151, 160, 204, 0.12);
	background-color: #fff;
	border-radius: 0 0 0 50px;
	border-radius: 12px;
	margin: 20px 10px;
	padding: 20px 20px;
}

.cv-profile-content-accoun p {
	margin-bottom: 0px;
}

@media (max-width: 992px) {
	.cv-profile-avatar {
		width: 50px;
		height: 50px;
		font-size: 20px !important;
	}
}

@media (max-width: 768px) {
	.cv-profile-main-info-inner-container-img {
		padding: 0px;
	}
	.cv-profile-upload-image {
		width: 100%;
	}
	.cv-profile-header {
		padding: 0;
		text-align: center;
	}
	.cv-profile-card-item {
		padding: 15px 20px;
	}
}
