/** @format */

.cv-header-user-content {
	text-align: center;
}

.cv-header-user-desktop {
	display: block;
}

.cv-heder-user-icon-add-account {
	width: 22px;
}

.cv-heder-user-image-user {
	width: 35px;
	border-radius: 50%;
}

.cv-header-user-icon-init-sesion {
	color: #200159;
	font-weight: 900;
}

.cv-header-user-icon-login-content {
	border-radius: 8px;
	color: #797979;
	font-weight: 900;
}

.cv-header-user-icon-login-content:hover {
	color: #200159;
}

.cv-header-user-icon-login-content > span {
	margin-left: 10px;
	margin-top: 5px;
}

.cv-header-user-icon-login {
	width: 30px;
}

.cv-header-user-mobil {
	display: none;
	text-align: right;
}

.cv-header-user-icon-menu {
	width: 30px;
	margin-right: 10px;
}

@media (max-width: 1024px) {
	.cv-header-user-desktop {
		display: none;
	}
	.cv-header-user-mobil {
		display: flex;
	}
}
