/** @format */

.cv-header-user-content {
	text-align: center;
}

.cv-heder-user-icon-add-account {
	width: 22px;
}

.cv-heder-user-image-user {
	box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
	width: 40px;
	border-radius: 50%;
}

.cv-header-user-icon-init-sesion {
	color: #200159;
	font-weight: 900;
}

.cv-header-user-icon-login-content {
	border-radius: 8px;
	color: #797979;
	font-weight: 900;
}

.cv-header-user-icon-login-content:hover {
	color: #200159;
}

.cv-header-user-icon-login {
	width: 30px;
}
