/** @format */

.cv-account-wizzard-content {
	position: relative;
	width: 100%;
}

.cv-account-wizzard-card {
	width: 800px;
	max-width: 90%;
	margin: 0 auto;
	margin-top: 100px;
}

.cv-account-wizzard-button-submit {
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	height: 39px;
	background-color: #f61073;
	border-radius: 50px;
	padding: 6px;
	width: 150px;
	max-width: 100%;
	margin: 0 auto;
	cursor: pointer;
}
