/** @format */

.ant-carousel .slick-dots li.slick-active button,
.ant-carousel .slick-dots li button {
	background: #f61073;
}

.cv-home-carousel-content {
	box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
	margin-top: -1px;
}

.cv-home-slider-web {
	display: block !important;
}

.cv-home-slider-mobil {
	display: none !important;
}

@media (max-width: 768px) {
	.cv-home-slider-web {
		display: none !important;
	}

	.cv-home-slider-mobil {
		display: block !important;
	}
}
