/** @format */

.cv-navbar-header-content {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	padding: 8px 16px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	height: 64px;
	line-height: 45px;
}

.cv-navbar-content {
	max-width: 1300px;
	margin: auto;
}

@media (max-width: 768px) {
	.cv-navbar-header-content {
		padding: 8px 8px;
	}
}
