/** @format */

.cv-create-account-card-custom {
	margin-bottom: 10px;
	border-radius: 8px;
	padding-top: 15px;
	margin-right: 5px;
	margin-left: 5px;
	min-height: 220px;
}

.cv-create-account-from-title {
	margin-left: 20px;
	color: #5a5a5a;
	font-size: 14px;
}

.cv-create-account-section-max {
	background-color: #f0f2f6;
}

.cv-create-account-content-max {
	max-width: 1300px;
	margin: 0 auto;
}

.cv-create-account-image-acount {
	width: 100%;
	border-radius: 50%;
}

.cv-create-account-detail-acount {
	padding: 0px 20px;
}

.cv-create-account-btn-add-content {
	margin-right: 23px;
	text-align: right;
}

.cv-create-account-btn-submit {
	text-align: right;
	padding: 20px;
}

@media (max-width: 768px) {
	.cv-create-account-card-custom {
		height: 100%;
	}
}
