/** @format */

.cv-notifications {
	padding: 20px;
	padding-bottom: 0px;
}

.cv-notifications-content-menu-item-div {
	margin: 10px 20px;
}

.cv-notifications-content-menu-item-row {
	background-color: #f3f3f3;
	border-radius: 3px;
	padding: 10px 10px;
}

.cv-notifications-notifi-list-title {
	margin-top: 6px;
	font-size: 16px;
	margin-bottom: 0px;
}

.cv-header-notifi-btn-content {
	margin-top: 17px;
}

.cv-header-notifi-btn {
	color: #1890ff;
	font-weight: 900;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;
}
