/** @format */

.cv-profile-header-sub-title {
	padding: 0 50px;
}

.cv-profile-header-sub-title > a {
	margin-left: 40px;
}

.cv-profile-content-change-password {
	margin-top: 20px;
}

.cv-profile-button-submit-change-password-content {
	position: relative;
	width: 100%;
	text-align: right;
	margin-top: 20px;
}

.cv-profile-button-submit-change-password {
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	height: 39px;
	background-color: #f61073;
	border-radius: 50px;
	padding: 6px;
	width: 200px;
	max-width: 100%;
	cursor: pointer;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.cv-profile-content-change-password {
		margin: 10px;
		padding: 10px;
	}
}
