/** @format */

.cv-linktree-content {
	position: relative;
	width: 100%;
}

.cv-linktree-card {
	width: 800px;
	max-width: 90%;
	margin: 0 auto 35px;
	border-radius: 10px;
}

.cv-linktree-button-submit,
.cv-linktree-button-submit:hover,
.cv-linktree-button-submit:active,
.cv-linktree-button-submit:focus {
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	height: 39px;
	background-color: #f61073;
	border-radius: 50px;
	padding: 6px 25px;
	min-width: 150px;
	margin: 0 auto;
	cursor: pointer;
	border: none;
}

.cv-linktree-button-add {
	background-color: #210257;
	margin-top: 15px;
}

.App {
	text-align: center;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 1.5vmin);
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.characters {
	list-style: none;
	padding-left: 0;
}

.characters li {
	display: flex;
	align-items: center;
	border: solid 1px #fde3eb;
	border-radius: 5px;
	padding: 0.5em 0.8em 0.5em 0.5em;
	margin-bottom: 1em;
}

.characters p {
	max-width: none;
	font-weight: bold;
	margin: 0;
}

.characters-thumb {
	overflow: hidden;
	flex-shrink: 0;
	width: 2em;
	height: 2em;
	background-color: #ffffff;
	padding: 0.5em;
	margin-right: 0.5em;
}

.characters-thumb img {
	display: block;
	width: 100%;
	height: auto;
}
.cv-linktree-button {
	float: right;
}
