/** @format */

.cv-navbar-logo {
	float: left;
	margin-top: 4px;
	margin-right: 10px;
	width: 35px;
}

.cv-navbar-logo-titles {
	color: #424346;
	font-weight: 900;
	font-size: 14px;
	cursor: pointer;
	margin-top: 3px;
}

@media (max-width: 968px) {
	.cv-navbar-logo-titles {
		display: none;
	}
	.cv-navbar-logo {
		margin-top: 10px;
		width: 26px;
	}
}
