/** @format */

.cv-navbar-logo {
	float: left;
	margin-top: 4px;
	margin-right: 10px;
	width: 40px;
}

.cv-navbar-logo-titles {
	color: #424346;
	font-weight: 800;
	font-size: 16px;
	cursor: pointer;
	margin-top: 7px;
}

@media (max-width: 768px) {
	.cv-navbar-logo-titles {
		display: none;
	}
	.cv-navbar-logo {
		margin-top: 6px;
		width: 35px;
	}
}
