/** @format */

.cv-account-btn-linktree {
	position: fixed;
	z-index: 660;
	bottom: 25px;
	right: 16px;
	width: 45px !important;
	height: 45px !important;
}

.cv-account-btn-linktree:hover > .anticon-question {
	font-size: 25px;
}

.cv-account-btn-linktree > .anticon-question {
	font-size: 23px;
}

.ant-drawer-body {
	padding: 0px !important;
}

#loader {
	display: block;
	position: fixed;
	right: -7px;
	bottom: 3px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #fa0a70;
	-webkit-animation: spin 1.7s linear infinite;
	animation: spin 1.7s linear infinite;
	z-index: 11;
}

#loader:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #210359;
	-webkit-animation: spin-reverse 0.6s linear infinite;
	animation: spin-reverse 0.6s linear infinite;
}

#loader:after {
	content: '';
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}
@keyframes spin-reverse {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
