/** @format */

.cv-account-btn-linktree {
	position: fixed;
	z-index: 660;
	bottom: 25px;
	right: 16px;
	width: 45px !important;
	height: 45px !important;
}

.cv-account-linktree-drawer-title {
	font-size: 25px;
	color: #5f5f5f;
	margin-bottom: 0px;
}

.cv-account-linktree-drawer-sub-title {
	font-size: 13px;
	font-weight: 100;
	color: #5f5f5f;
}

.cv-account-linktree-drawer-title-color {
	color: #e1336f;
}

.cv-pulse {
	animation: pulse 2s infinite;
}

.cv-account-btn-linktree:hover > .anticon-question {
	font-size: 25px;
}

.cv-account-btn-linktree > .anticon-question {
	font-size: 23px;
}

.ant-drawer-body {
	padding: 0px !important;
}

#loader {
	display: block;
	position: fixed;
	right: 8px;
	bottom: 18px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #210359;
	border-bottom-color: #ec3e72;
	animation: spin 1.7s linear infinite;
	z-index: 11;
}

.cv-account-linktree-content-card {
	box-shadow: 0px 7px 14px 0px rgb(151 160 204 / 12%);
	padding: 5px;
	margin: 8px;
	background-color: #fff;
	border-radius: 12px;
	border: 1px solid whitesmoke;
	cursor: pointer;
	margin-top: 15px;
}

.cv-account-linktree-content-card-img {
	border-radius: 8px;
}

.cv-account-linktree-content-card:hover {
	border: 1px solid #e4e4e4;
}

.cv-account-linktree-content-card img {
	padding: 5px;
	width: 100%;
}

.cv-account-linktree-content-card-two {
	padding: 0px 10px;
}

.cv-account-linktree-content-card-two > div {
	text-align: right;
}

.cv-account-linktree-content-card-two h3 {
	margin-top: 5px;
	font-weight: 500;
	color: #212121;
}

.cv-account-linktree-content-card-two p {
	font-size: 13px;
	font-weight: 300;
	color: #777777;
	margin-bottom: 0px;
}

.cv-account-linktree-drawer-card-button {
	background-color: #f61073;
	border-color: #f61073;
	border-radius: 8px;
	font-weight: 500;
}

@media (max-width: 768px) {
	.cv-account-linktree-drawer-titles-contens {
		text-align: center;
	}

	.cv-account-linktree-drawer-title {
		font-size: 20px;
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}
@keyframes spin-reverse {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
