/** @format */

.cv-account-btn-linktree {
	position: fixed;
	z-index: 660;
	bottom: 25px;
	right: 16px;
	width: 45px !important;
	height: 45px !important;
}

.cv-pulse {
	animation: pulse 2s infinite;
}

.cv-account-btn-linktree:hover > .anticon-question {
	font-size: 25px;
}

.cv-account-btn-linktree > .anticon-question {
	font-size: 23px;
}

.ant-drawer-body {
	padding: 0px !important;
}

#loader {
	display: block;
	position: fixed;
	right: 8px;
	bottom: 18px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #210359;
	border-bottom-color: #ec3e72;
	animation: spin 1.7s linear infinite;
	z-index: 11;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}
@keyframes spin-reverse {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
