/** @format */

body,
html {
	background-color: #f0f2f5;
}

.mt15 {
	margin-top: 15px;
}

.p20 {
	padding: 20px;
}

.aling-right {
	text-align: right;
}

@media only screen and (min-width: 960px) {
	.cv-container-main {
		max-width: 940px;
	}
}

@media only screen and (min-width: 1264px) {
	.cv-container-main {
		max-width: 1300px;
		margin: 0 auto;
	}
}
