/** @format */

.cv-profile-activation-content {
	border: #fff;
	box-shadow: 0px 7px 14px 0px rgb(151 160 204 / 12%);
	background-color: #fff;
	border-radius: 12px;
	transition: all 0.3s ease;
	margin: 25px 15px 15px 15px;
	padding: 15px 30px;
}

.cv-profile-activation-title-code {
	color: #545454;
	font-size: 25px;
}

.cv-profile-activation-img-logo {
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 10px;
}

.cv-account-wizzard-finish-button-secondary-go-links {
	color: #f61073;
	font-weight: 500;
	font-size: 14px;
	height: 30px;
	background-color: #ffffff;
	border: 1px solid #f61073;
	border-radius: 50px;
	padding: 6px;
	width: 100%;
	max-width: 120px;
	margin: 0 auto;
	cursor: pointer;
	line-height: 0.5715;
}

@media (max-width: 768px) {
	.cv-profile-activation-title-code {
		font-size: 18px;
	}
	.cv-profile-activation-result {
		padding: 36px 0px;
	}
}
